<launch>
  <arg name="robot" default="tempest" doc="Name of the vehicle" />

  <node pkg="riptide_teleop" type="ps3_teleop.py" name="ps3_teleop" output="screen">
    <param name="vehicle_config" value="$(find riptide_descriptions)/config/$(arg robot).yaml" />
  </node>
</launch>

<!-- To get this to work completely, on the top side computer run:
  
    rosrun joy joy_node
-->
